

.first_section_container{
    
    max-width: 111.4rem;
    margin-left: auto;
    margin-right: auto;
}

.first_section{
    padding: 6.4rem 5% 10rem;
    display: flex;
    flex-direction: column;
}

.new{
    background-color:  hsl(240, 17%, 98%);
    padding: .8rem 1.6rem .8rem .8rem;
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    font-size: 2rem;
    max-width: 35rem;
}

.new_left{
    padding: .4rem .8rem;
    background-color: rgb(255, 255, 255);;
    color: hsl(242, 71%, 56%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.new_right{
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.new_container{
    display: flex;
    flex-direction: column;
}

.main_text h1{
    font-size: 4rem ;
}

.p_text{
    max-width: 52rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.p_text p{
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: hsl(231, 10%, 27%);;
}

.p_text a{
    text-decoration: none;
    color: hsl(242, 71%, 56%);
    background-color: transparent;
    font-size: 1.6rem;
}



.form form{
    border-style: solid;
    border-width: 1px;
    border-color: #ebebef;
    background-color: #fff;
    padding: 1.2rem;
    max-width: 72rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.first_input{
    height: 4.4rem;
    margin-bottom: 0px;
    border-style: none;
    border-width: 1px;
    border-color: black;
    padding: .8rem 1.2rem;
    font-size: 1.4rem;
    color: #333333;
    width: 100%;
    /* border: 1px solid #cccccc; */
}

.second_input{
    padding: 1rem 3.2rem;
    background-color:  hsl(242, 71%, 56%);
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    border: none;
    width: 100%;
    margin-top: .5rem;
}

.form_div{
    display: flex;
    width: 100%;
    align-items: center;
}

.section_flex{
    display: flex;
    flex-direction: column;
}

.section_photo_mobile{
    height: 50rem;
}

.section_photo_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.grid_logos_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 6.4rem;
    margin-left: auto;
    margin-right: auto;
   grid-row-gap: 1.6rem;
   padding-right: 1.4rem;
   padding-left: 1.4rem;
   justify-items: center;
   align-items: center;
   
}

.grid_logos{
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid_logos img{
    max-width: 100%;
}

@media screen and (min-width: 993px){
    .section_flex{
        display: grid;
        grid-column-gap: 3.8rem;
        grid-template-columns: 0.75fr 1fr;
        grid-template-rows: auto;
    }

    .p_text{
        align-self: flex-end;
    }
}

@media screen and (max-width: 767px){
    .section_photo_container{
        height: 40rem;
    }

    .grid_logos_container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 47.9rem){
    .grid_logos_container{
        grid-template-columns: 1fr 1fr;
    }

    
}

