.header {
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsl(240, 12%, 93%);
  padding: 2rem 3%;
}

.header_nav {
  display: flex;
  gap: 1.5rem;
}

.header_nav a:hover {
  color: #4640de;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: rgb(255, 255, 255);
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
}

.hire_up_logo img {
  cursor: pointer;
}

.burger_container {
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-top-color: hsl(240, 12%, 93%);
  border-right-color: hsl(240, 12%, 93%);
  border-bottom-color: hsl(240, 12%, 93%);
  border-left-color: hsl(240, 12%, 93%);
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
}

.burger_container_active {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-top-color: hsl(240, 12%, 93%);
  border-right-color: hsl(240, 12%, 93%);
  border-bottom-color: hsl(240, 12%, 93%);
  border-left-color: hsl(240, 12%, 93%);
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
  background-color: #443fde;
}

.burger_color {
  background-color: #443fde;
}

.icon_menu {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon_menu_active {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}

.burger_container_active img {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_middle a {
  color: #3e404c;
  letter-spacing: -0.02em;
  font-weight: 500;
  line-height: 2.4rem;
  font-size: 1.4rem;
  padding: 1rem 1.6rem;
  cursor: pointer;
  text-decoration: none;
}

.overlay_content_link:hover {
  color: #4640de;
}

.overlay_content_link {
  text-decoration: none;
}

@media screen and (min-width: 993px) {
  .burger_logo {
    display: none;
  }

  .header_overlay {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header_middle {
    display: none;
  }

  .header_right {
    display: none;
  }
}

.header_wrap {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.header_post_job {
  transition: color 200ms ease;
  color: #3e404c;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  white-space: nowrap;
  padding: 1rem 1.6rem;
  text-decoration: none;
}

.header_post_job:hover {
  color: #4640de;
}

.header_login {
  transition: all 500ms cubic-bezier(0.6, 0.6, 0, 1);
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  background-color: #443fde;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.header_login:hover {
  background-color: #3935b6;
}

.header_login:active {
  background-color: #28257e;
}

.header_overlay {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(0px);
  transition: transform 400ms ease 0s;
  background-color: #fff;
}

.overlay_content a {
  color: #443fde;
  padding: 1rem 1.6rem;
  align-items: center;
  transition: color 200ms ease;
  color: #3e404c;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  white-space: nowrap;
  display: block;
  cursor: pointer;
}

.overlay_button_mobile {
  display: flex;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

@media screen and (max-width: 479px) {
  .overlay_button_mobile a {
    width: 100%;
  }
}

.overlay_button_mobile a {
  transition: all 500ms cubic-bezier(0.6, 0.6, 0, 1);
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.4em;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.02em;
  padding: 1rem 2rem;
  background-color: #443fde;
  display: inline-block;
}

.overlay_button_mobile a:hover {
  background-color: #3935b6;
}
