
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Inter:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,600;0,700;1,500;1,600&display=swap');



body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  color: hsl(225, 40%, 2%);

}

*{
  box-sizing: border-box;
  font-size: 62.5%;
}